body {
	background-color:  rgb(0, 43, 54);
}

#content {
	color:             rgb(131, 148, 150);
	background-color:  rgb(7, 54, 66);
	overflow:          auto;
	/* position */
	position:  absolute;
	top:        0.42em;
	bottom:     0.42em;
	left:       15%;
	right:      15%;
	/* margin */
	padding:  1em;
}

h1 {
	text-align:  center;
	color:       rgb(147, 161, 161);
}
h2 {
	color:          rgb(147, 161, 161);
	border-bottom:  1px solid rgb(255,255,255);
}

a:link, a:visited {
	color:            rgb(38, 139, 210);
	text-decoration:  none;
}
a:hover, a:active {
	color:            rgb(38, 139, 210);
	text-decoration:  underline;
}
